*{
    margin: 0;
    padding: 0%;
    font-family: "Roboto",sans-serif;
}

.wrapper{
width: 1089px;
margin: auto;
height: auto;
background-color: rgb(4, 136, 252);
}

header{
    width: 1089px;
    height: 100px;
    float: left;
    background-color: #52240f;
    position: relative;
}

nav{
    width: 1089px;
    height: 50px;
    float: left;
    background-color: #52240f;
}

.content{
    width: 1089px;
    height: 4000px;
    background-color: rgb(253, 253, 253);
}

aside{
    width: 35%;
    height: 4000px;
    float: left;
    background-color: aqua;
}

section{
    width: 65%;
    height: 4000px;
    background-color: coral;
    float: left;
}

footer{
    width: 1089px;
    height: 400px;
    background-color: blueviolet;
    float: left;
}

.search-box{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
}

.search-box .input-box{
    position: relative;
    background-color: rgb(253, 253, 253);
    padding: 13px;
    border-radius: 5px;
    width: 440px;
}
.search-box .input-box input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 17;
    padding-right: 40px;
}

.search-box .input-box input::placeholder{
    color: #000000;

}

.search-box .search-button{
    color: black;
    float: right;
    width: 41px;
    height: 41px;
    border-radius: 5px;
    background-color: #ffbe0d;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 424px;

    cursor: pointer;
}

.search-box .search-button img{
    width: 22px;
    height: 22px;
}

.img img{
    height: 100px;
    width: 100px;
}

.text{
    position: ab;
    right: 78%;
    top: 140%;
    transform: translateX(78%) translateY(-140%);
    align-items: center;

}
.text a {
border: none;
text-decoration: none;
}

.text a p{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.text a h3{
    color: #ffbe0d;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.text a img{
    width: 40px;
    height: 40px;

    transform: translateX(-135px) translateY(40px);
   

}